.triangle-top {
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-bottom: 180px solid transparent;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-top: 140px solid transparent;
  border-bottom: 140px solid transparent;
}
