.c9ca3af {
  --primary-color: #9ca3af;
  --secondary-color: #d8dde6;
}
.c335384 {
  --primary-color: #335384;
  --secondary-color: #6c97d8;
}
.c10375d {
  --primary-color: #10375d;
  --secondary-color: #3e8ddb;
}
.c4fc8dc {
  --primary-color: #31798a;
  --secondary-color: #4fc8dc;
}
.c991B1B {
  --primary-color: #991b1b;
  --secondary-color: #e48c8c;
}
.c4C1D95 {
  --primary-color: #4c1d95;
  --secondary-color: #8b5ad4;
}
.c059669 {
  --primary-color: #059669;
  --secondary-color: #53d8ae;
}
